@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

:root{
   --black:#111212;
   --white:#FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

main{
    margin: 50px;
}

/*Menu*/
#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: var(--black);
}

#menu>nav>a{
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    transition: all 600ms;
}

#menu>nav>a:hover{
   border-bottom:1px solid var(--white);
}

#menu>a>img{
    width: 80px;
    border-radius: 8px;
}

#menu>nav{
    display: flex;
    justify-content: space-around;
    flex-grow: .5;
}
/*END MENU*/

/* ABOUT US */
#aboutus{
    margin: 10px;
}

#aboutus>div{
    flex: 1;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
}

#aboutus #test{
    width: 50%;
    display: flex;
    flex-flow: column;
}

#aboutus>div>img{
    width: 50%;
    height: 25%;
    border-radius: 16px;
    object-fit: contain;
}
/* END ABOUT US */


/*FOOTER*/
#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: var(--black);
}

#footer a{
    color: var(--white);
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline var(--white) 2px;
}

#footer p{
    color: var(--white);
}

#footer>div{
    display: flex;
    flex-flow: column;
    flex: 1;
}

#footer>nav{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    flex-grow: .5;
}
/* END FOOTER */